html, body, canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font: 13px 'Helvetica Neue', Helvetica, Arial;
}

canvas {
  display: block;
}

.mute {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

/*
 * Development tools
 */

#debug {
  box-sizing: border-box;
  padding: 0 1em;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  padding: 1em;
}

#fps:before {
  content: 'fps: ';
}
